.bg-mint-green {
    background-color: #e0f4dc
}

.bg-light-yellow {
    background-color: #fffce4
}

.bg-dark-gray{
    background-color: #e0dcdc;
}

.bg-light-red{
    background-color: #f8dcdc
}

.bg-light-blue{
    background-color: #ecf2ff;
}

.stars{
    color: gold;
}

.graph{

}

.graph {
    object-fit: contain;
    float: right;
    position: absolute;
    right: 25px;
    display: block;
}