body {
	font-family: arial;
}

.about{
	width: 76%;
	margin: auto;
	margin-top: -80px;
}

div.e{
	border: 2px solid darkred;
}

div.e.ne {
	border: 2px solid SteelBlue;
}

iframe{
	width:0;
	height:0;
	border: 0;
}
/* make drag container visible */
#redips-drag {
	display: table;
	margin-left: -7px;
	position: relative;
}

#authorize_button{
	padding: 8px;
}

h1 {
	margin-bottom: 20px;
}

.section-lg {
	overflow: auto;
	position: relative;
}

#outer {
	width: 62%;
	position: relative;
}

#redips-drag #tab{
	overflow:auto;
	position: relative
}
/* table */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
	max-width: 10px;
	margin: 7px;	
}

/* table cells */
div#redips-drag td {
	border: 1px solid navy;
	height: 50px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
.redips-drag, .ne{
	margin: auto;
	text-align: center;
	width: max-content;
	padding: 5px;
	height: 25px;
	line-height: 11px;
	border: 2px solid SteelBlue;
	background-color: white;
}

th {
	text-align: center
}

td {
	height: 30px;
	min-width: 45px;
}

.other_columns{
	max-height: 5px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}